nav {
    grid-area: n;
    background-color: #888805;
}

.item {
    border: 1px solid black;
    padding: 5px;
}

.item:hover {
    background-color: #c9c903;
    cursor: pointer;
}

.item a {
    text-decoration: none;
    text-transform: none;
    color: wheat;
    padding: 10px;
}

.item a:hover {
    color:white;
}
.item a.active {
    color: white;
}