nav {
    grid-area: n;
    background-color: #888805;
}

.item a {
    text-decoration: none;
    text-transform: none;
    color: wheat;
    padding: 10px;
}

.item a:hover {
    color:white;
}
.item a.active {
    color: white;
}